<link rel="stylesheet" type="text/css" href="/stylesheets/user/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="/javascripts/shop/index.js"></script> {{#if hasErrors}}
<div class="alert alert-danger">
	{{# each messages }}
	<p>{{this}}</p>
	{{/each}}
</div>
{{/if}} {{# if login}}
<div id="user-profile-2" class="user-profile tab-content no-border padding-24">
	<form action="/user/profile" method="post">
		<div class="row">
			<div class="col-xs-12 col-sm-3 center">
				<span class="profile-picture">
					<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/36234502_1885183694873519_1795852863000281088_n.jpg?_nc_cat=104&_nc_ht=scontent.fbkk14-1.fna&oh=d887711ac3f0d471fcde6d1da1d55bc0&oe=5C880FFC">
				</span>
				<div class="space space-4"></div>
				<button href="#" class="btn btn-sm btn-block btn-danger" id="editBtn">
				<i class="ace-icon fa fa-plus-circle bigger-120"></i>
				<span class="bigger-110">Edit</span>
				</button>
				<button class="btn btn-sm btn-block btn-success" type="submit" id="saveBtn">
				<i class="ace-icon fa fa-plus-circle bigger-120"></i>
				<span class="bigger-110">Save</span>
				</button>
			</div>
			<!-- /.col -->
			<div class="col-xs-12 col-sm-9">
				<h3 class="overrided-h3">
				<span class="middle black">{{ session.user.firstName }}</span>
				</h3>
				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name">Email</div>
						<div class="profile-info-value">
							<span>{{ session.user.email }}</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Firstname</div>
						<div class="profile-info-value">
							<input name="firstName" value="{{ session.user.firstName }}" disabled>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Lastname</div>
						<div class="profile-info-value">
							<input name="lastName" value="{{ session.user.lastName }}" disabled>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">
							<i class="fa fa-map-marker light-orange bigger-110"></i>
							Address
						</div>
						<div class="profile-info-value">
							<input name="address" value="{{ session.user.address }}" disabled>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">City</div>
						<div class="profile-info-value">
							<input name="city" value="{{ session.user.city }}" disabled>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">State</div>
						<div class="profile-info-value">
							<input name="state" value="{{ session.user.state }}" disabled>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Zip</div>
						<div class="profile-info-value">
							<input name="zip" value="{{ session.user.zip }}" disabled>
						</div>
					</div>
				</div>
				<div class="hr hr-8 dotted"></div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</form>
</div>
{{# each orders }}
<div class="panel panel-default" style="margin-top:2%; padding:2%">
	<p>Payment ID: {{paymentId}}</p>
	<p>ที่อยู่: {{this.address}}</p>
	<p>ผู้รับ: {{name}}</p>
	<div class="panel-body">
		<ul class="list-group">
			{{# each this.items }}
			<li class="list-group-item">
				<span class="badge">{{ this.price }}</span>
				{{ this.item.title }} | {{ this.qty }} Units
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="panel-footer">
		<strong>Total Price: ${{ this.cart.totalPrice }}</strong>
	</div>
</div>
{{/each}} {{/if}}