<div class="row">
  {{# each products }}
  <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 18rem; margin-top:20px">
      <img class="card-img-top" src="{{ imagePath }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="content" style="overflow: hidden;
  height: 3.6em;
  line-height: 1.2em;
  width: 200px;">{{ description }}</p>
        <div class="float-left" style="padding-top:5px ">${{ price }}</div>
        <a href="/add-to-cart/{{_id}}" class="btn btn-success float-right ">Add to shopping cart</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
