<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/shop/shop.css">

<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#"> Filter </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concept<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
						<input type="checkbox" checked="checked">
 						<label class="check">New Arrival</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Summer</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">Winter</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">Autumn</label><br>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
						<input type="checkbox" checked="checked">
 						<label class="check">Ladies</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Men</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">Kids</label><br>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Type<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                	<li>
						<input type="checkbox" checked="checked">
 						<label class="check">Dress</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Pant</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">T-shirt</label><br>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Size<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
						<input type="checkbox" checked="checked">
 						<label class="check">S</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">M</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">L</label><br>
						<input type="checkbox" checked="checked">
 						<label class="check">XL</label><br>
                    </li>
                </ul>
            </li>

        	<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Color<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
						<input type="checkbox" checked="checked">
						<label class="check">White</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Black</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Pink</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">Gray</label><br>
                    </li>
        		</ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order by<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
						<input type="checkbox" checked="checked">
						<label class="check">Low price</label><br>
						<input type="checkbox" checked="checked">
						<label class="check">High price</label><br>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>

        
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
    	<span class="hamb-middle"></span>
		<span class="hamb-bottom"></span>
    </button>

</div>
</body>

{{!-- product --}}
<div class="row">
    {{#each products }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            {{!-- {{#with this.color}}
                <img src="{{ this.[0].[0] }}">
            {{/with}} --}}
            {{#each this.color_stock }}
				{{#if @first}}
					{{#with this}} 
						<img src="{{ this.[0] }}">
					{{/with}}
				{{/if}}
			{{/each}}
            <div class="caption">
                <a href="/product/{{_id}}" class="title">{{ title }}
                    <a>
                        <p class="price">฿{{ price }}</p>
                        {{!-- <a href="/add-to-cart/{{_id}}" role="button">Add to cart</a> --}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="pagination center">
    <ul class="pagination">
        {{#paginate pagination type="first"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a class="page-link" href="{{n}}">First</a>
        </li>
        {{/paginate}} {{#paginate pagination type="previous"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a class="page-link" href="{{n}}">Prev</a>
        </li>
        {{/paginate}} {{#paginate pagination type="middle" limit="7"}}
        <li {{#if active}}class="page-item active" {{/if}}>
            <a class="page-link" href="{{n}}">{{n}}</a>
        </li>
        {{/paginate}} {{#paginate pagination type="next"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a class="page-link" href="{{n}}">Next</a>
        </li>
        {{/paginate}} {{#paginate pagination type="last"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}>
            <a class="page-link" href="{{n}}">Last</a>
        </li>
        {{/paginate}}
    </ul>
</div>





<script type="text/javascript">
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
