<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/shop/shop.css">

<div class="row">
  {{# each products }}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ imagePath_1 }}">
        <div class="caption">
          <a href="/product/{{_id}}" class="title">{{ title }}<a>
          <p class="price">฿{{ price }}</p>
          <a href="/add-to-cart/{{_id}}" role="button">Add to cart</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>